GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
AUTH_SESSION_SECRET=
VITE_SUPABASE_URL=https://nujxotwhpcvgtxlfwmvc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_gNOMrtd2blKY8Sq0qR8j8g_iSVFR2DS
